body {
    background-image: linear-gradient(to right,#54BAB9, #9ED2C6);
    font-family: figtree;
    font-weight: 400;
}

@font-face {
    font-family: 'figtree';
    src: url("/fonts/Figtree-ExtraBold.ttf");
}

#circle-numb-timers{
    background: #1D5C63;
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 50%;
    border: solid #BFE4E1 8px;
    top: 50px;
    left: 70px;
    text-align: center;
}

footer {
    color: #20FC8F;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 3;
}

.logo {
    float: left;
    margin-left: 25px;
}
.navbar {
    background-color: #38423B;
    color: #20FC8F;
    overflow: visible;
    position: fixed;
    top: 0px;
    width: 98%;
    z-index: 3;
}

nav a {
    color: #20FC8F;
    text-decoration: none;
    text-transform: uppercase;
}
nav ul {
    float: right;
    list-style: none;
    margin-right: 25px;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 16 px;
}

#bottom-buttons {
    position: relative;
    top: 30px
}

#bottom-text {
    background:white;
    bottom: 0;
    left: 25%;
    height: 150px;
    max-height: 150px;
    overflow-y: scroll;
    position: absolute;
    outline: thick double #20FC8F;
    width: 800px;
}

#btnSetup {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#buttons {
    position: relative;
    top: 5px;
}

#option-first-div {
    position: relative;
    top: 40px;
}

#timer-body {
    position: absolute;
}

.timerCheck {
    display: inline-block;
}

.timer_display_timer p {
    display: inline-block;
}
/*#timer-body div:not([class="timer-user-dropdown"]) {
    display: inline-block;
}*/


.tset-cont-container {
    display:block;
    position: relative;
    top: 40px;
}

.tset-cont {
    color:#BFE4E1;
    display:inline-block;
    font-weight: bold;
    position: relative;
    top: 40px;
}

#continuous {
    display: inline-block;
}

.tset_text {
    color:#BFE4E1;
    display: inline-block;
    margin-right: 10px;
    font-size:25px;
    font-weight: bold;
    position: relative;
    top: 20px;
}

.tset_num_timers {
    background: transparent;
    border: none; 
    display: inline-block;
    position: relative;
}

.tset_num_timers::placeholder{
    font-weight: bold;
    color: #BFE4E1;
}

#btnSetup {
    display: inline;
}

.timer-dropdown {
    position: relative;
    display: inline-block;
}

.timer-firstdiv {
    display: inline-block;
    position: relative;
    top: 86px;
    left: 25%;

}
.timerFirstDiv p {
    display: inline-block;
    font-size: 30px;
}

#timer-load-buttons {
    position: relative;
    top: 30px;
}

.timerSecondDiv {
    position: relative;
    top: 30px;
}
.timerSecondDiv p {
    display: inline-block;
}

.timer-user-dropdown {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}
.timer-user-dropdown p {
    background-color: #38423B;
    color: white;
    display: inline-block;
    padding: 12px 16px;
    text-decoration: none;
}

.timer-user-dropdown p:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
.textButtons {
    margin-top: 5px;
}
.textContainer {
    background-color: white;
    border-radius: 8px;
    width: 80%;
    padding: 4px 20px;
    position: relative;
    left: 10%;
    top: 64px;
    z-index: 1;
    display: none;
}

.textInput {
    margin-top: 10px;
    height: 100%;
    outline: solid grey 1px;
}

.text-tags-div p {
    display:inline-block;
}

#userTimers input {
    width: 40px;
}