{% extends "layout.html" %}

{% block title%}
    Timer setup
{% endblock %}

{% block body %}
    <form method ="post">
        <p class="tset_text">Number of timers: </p>
        <input class="tset_num_timers" autocomplete="off" id="num_timers" name="num_timers" type="number">
        <p class="tset_text">All continuous?: </p>
        <input autocomplete="off" id="continuous" name="continuous" type="checkbox">
        <button id="btnSetup" type="button">Setup</button>
    </form>
    <a href="/timer" type="button">Start</a>
    <div id="timers">
        <table>
            <tbody id="userTimers">
            </tbody>
        </table>
    <button id="btnLoad" type="button">Load</button>
    </div>

    
    <script>
        // Set the number of timers
        const saveTimers = {};
         
        // Set the ammount of timers so they can be mannualy set up
        const btnSetup = document.getElementById("btnSetup");
        btnSetup.addEventListener("click", function(e) {
            let nTimers = document.getElementById("num_timers").value;
            var HTML = "<table><tr><th>Número</th><th>Timer</th><th>Continuous</th></tr>";
                for (let i = 0; i < nTimers; i++) {
                    HTML += "<tr><td>" + (i + 1) + "</td><td><input autocomplete='off' id='timerMin"+(i + 1)+"' min='0' max='60' maxlength='2' type='text'></td><td>:</td><td ><input autocomplete='off' id='timerSec"+(i + 1)+"' min='0' max='60' maxlength='2' type='text'></td><td>check</td></tr>";
                };
            HTML += "</table>";
             document.getElementById("userTimers").innerHTML = HTML;
        });

        // Load the numbers of the timers in an array
        const btnLoad = document.getElementById("btnLoad");
        btnLoad.addEventListener("click", function(e) {
            let nTimers = document.getElementById("num_timers").value;
            for(let i = 0; i < nTimers; i++) {
                const testMin = document.getElementById(`timerMin${(i + 1)}`).value;
                const testSec = document.getElementById(`timerSec${(i + 1)}`).value;
                saveTimers["min" + i] = Number(testMin);
                saveTimers["sec" + i]= Number(testSec);
            };
            console.log("saveTimers: " + saveTimers);
        }); 

        function startTimers () {
            let nTimers = document.getElementById("num_timers").value;
            
        };       
    </script>

{% endblock %}