{% extends "layout.html" %}

{% block title%}
    Timer setup
{% endblock %}

{% block body %}
    <div class="timer-firstdiv" id="firstDiv">
        <form method ="post">
            <p class="tset_text">Number of timers: </p>
            <input class="tset_num_timers" autocomplete="off" id="numTimers" min=0 name="num_timers" type="text">
            <p class="tset_text">All continuous?: </p>
            <input autocomplete="off" id="continuous" name="continuous" type="checkbox">
            <button id="btnSetup" type="button">Setup</button>
        </form>
    </div>
    <div id="buttons">
        <button style=display:none id="btnStart" type="button">Start</button>
        <button style=display:none id="btnStop" type="button">Stop</button>
        <button style=display:none id="btnNext" type="button">Next</button>
    </div>
    <div id="secondDiv" class="timerSecondDiv">
        <table>
            <tbody id="userTimers">
            </tbody>
        </table>
    <button id="btnLoad" type="button">Load</button>
    </div>

    
    <script>
        const btnSetup = document.getElementById("btnSetup");  // Load page button with number of timers    
        const btnLoad = document.getElementById("btnLoad"); // Load number of timers to array
        const btnStart = document.getElementById("btnStart"); // Start timer
        const btnStop = document.getElementById("btnStop"); // Stop timer
        const btnNext = document.getElementById("btnNext"); // Pass to next timer
        let timerOn = false; // True only when timer is running
        const saveTimers = {}; // Save the number of timers
        let contTimers = false; // true if all continuous timer is checked
        let fistStart = true; 
        let nTimers; // Saves the ammount of timers
        let ceroTimer = false; // Checks when the timer is at 00:00
        let timerFinish = false; // To check when the active timer is finished. Works with checkboxes
        let delTimers = nTimers; // For nextTimer function. Keeps track of the number of the last element in the timers
        let numbNextTimers = 1; // For nextTimer function. Number of the timer that follows the active timer 
        let numCheck; // Keeps track of the status of the next check(continuous)

        // Set the ammount of timers so they can be manually set up
        btnSetup.addEventListener("click", function(e) {
            nTimers = Number(document.getElementById("numTimers").value);
            delTimers = nTimers;
            var HTML = "<table><tr><th>Número</th><th>Timer</th><th>Continuous</th></tr>";
                for (let i = 0; i < nTimers; i++) {
                    HTML += "<tr><td>" + (i + 1) + "</td><td><input autocomplete='off' id='timerMin" + (i + 1) + 
                    "' min='0' max='60' maxlength='2' type='text'></td><td>:</td>" + 
                    "<td><input autocomplete='off' id='timerSec" + (i + 1) + 
                    "' min='0' max='60' maxlength='2' type='text'>" + "</td><td>check</td></tr>";
                };
            HTML += "</table>";
             document.getElementById("userTimers").innerHTML = HTML;
        });

        // Load the numbers of the timers in an array
        btnLoad.addEventListener("click", function(e) {
            for(let i = 0; i < nTimers; i++) {
                const testMin = document.getElementById(`timerMin${(i + 1)}`).value;
                const testSec = document.getElementById(`timerSec${(i + 1)}`).value;
                saveTimers["min" + i] = Number(testMin);
                saveTimers["sec" + i]= Number(testSec);
                if (document.getElementById("continuous").checked == true) {
                    contTimers = true;
                }
            };

            // Render first timer
            var firstHTML ='<div class="timerFirstDiv"><p id="timerHour">0</p>' + '<p>:</p>' +
            '<p id="timerMin">' + padZero(saveTimers["min0"]) + '</p>' +
            '<p>:</p>' + 
            '<p id="timerSec">' + padZero(saveTimers["sec0"]) + '</p>'
            if (contTimers == true) {
                firstHTML += '<input class="timerCheck" id="check0" type="checkbox" checked></div>';
            } 
            else {
                '<input class="timerCheck" id="check0" type="checkbox"></div>';
            }
            document.getElementById("btnStart").style.display= "inline"; // Start timer
            document.getElementById("btnStop").style.display= "inline"; // Stop timer
            document.getElementById("btnNext").style.display= "inline"; // Pass to next timer
            document.getElementById("firstDiv").innerHTML = firstHTML;

            // Render second timer
            var nextHTML = '';
            for (let i = 1; i < nTimers; i++) {
                nextHTML += '<div id="nextTimers' + i + '">';
                nextHTML += '<p id="hour">0</p>' + '<p>:</p>' +
                '<p id="min' + i + '">' + padZero(saveTimers[`min${i}`]) + '</p>' +
                '<p>:</p>' + 
                '<p id="sec' + i + '">' + padZero(saveTimers[`sec${i}`]) + '</p>' 
                if (contTimers == true) {
                    nextHTML += '<input class="timerCheck" id="check' + i + '" type="checkbox" checked><br>'
                }
                else {'<input class="timerCheck" id="check' + i + '" type="checkbox"><br>'}
                nextHTML += '</div>';
            };
            document.getElementById("secondDiv").innerHTML = nextHTML;
        }); 
        
        btnStart.addEventListener("click", function(e) {
            if (ceroTimer == false && timerOn == false) {
                downTimer();
            }
        });

        btnNext.addEventListener("click", function(e) {
            if (numbNextTimers != nTimers) {
                nextTimer();
            };
        });

        //SQL
        const sqlite3 = require("sqlite3").verbose();
        const db = new sqlite3.Database("./test.db", sqlite3.OPEN_READWRITE, (err) => {
            if (err) return console.error(err.message);
        });

        //FUNCTIONS 

        function downTimer () { // Timer mechanism
            timerFinish = false;
            timerOn = true; 
            let timerStart = setInterval(() => {
                sec = Number(document.getElementById("timerSec").innerHTML);
                min = Number(document.getElementById("timerMin").innerHTML);
                sec = sec - 1;
                if (sec == -1) {
                    sec = 59;
                    min = min - 1;
                    if (min == -1) {
                        min = 59;
                    };
                };
                document.getElementById("timerSec").innerHTML = padZero(sec);
                document.getElementById("timerMin").innerHTML = padZero(min);
                btnStop.addEventListener("click", function(e) {
                    timerOn = false;
                    clearInterval(timerStart);
                });

                if (min == 0 && sec == 0) {
                    timerOn = false;
                    timerFinish = true;
                    ceroTimer = true; 
                    clearInterval(timerStart);
                    let check0 = document.getElementById("check0");
                    if (check0.checked == true && numbNextTimers != nTimers) {
                        nextTimer();
                        downTimer();
                    };
                };
            }, 1000);
        } 

        function nextTimer() {   // Pass to next timer     
            let timerReplaceMin = document.getElementById("timerMin");
            let timerReplaceSec = document.getElementById("timerSec");
            timerReplaceMin.innerHTML = padZero(saveTimers[`min${numbNextTimers}`]);
            timerReplaceSec.innerHTML = padZero(saveTimers[`sec${numbNextTimers}`]);
            document.getElementById("check0").checked = document.getElementById("check1").checked;
            for (i = 1; i < delTimers - 1; i++) {
                document.getElementById("min" + i).innerHTML = padZero(saveTimers[`min${numbNextTimers + i}`]);
                document.getElementById("sec" + i).innerHTML = padZero(saveTimers[`sec${numbNextTimers + i}`]);
                document.getElementById("check" + i).checked = document.getElementById(`check${i + 1}`).checked;
            }
            delTimers = delTimers - 1;
            timerFinish = false;
            numbNextTimers = numbNextTimers + 1;
            let x = document.getElementById(`nextTimers${delTimers}`);
            x.remove();
            ceroTimer = false;
            };

        function padZero(num) { // Leading zero
            return String(num).padStart(2, '0');
        }
    </script>

{% endblock %}